<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5資訊</title>
</head>
<style>
    body {
        background-color: rgb(130, 126, 123);
        text-align: center;
        color: orange;
    }

    table {
        width: 60%;
        margin: 0 auto;
    }

    th {
        background-color: rgb(203, 255, 196);
        color: black;
    }

    td {
        background-color: brown;
        color: white;
    }

    @media screen and (max-width:1024px) {
        table {
            width: 90%;
        }
    }

    #delay-sec {
        width: 50px;
    }
</style>

<body>
    <h1>全台PM2.5資訊</h1>
    <h3 style="color: aquamarine;">現在時間:{{data["today"]}}</h3>
    <a href="/">回首頁</a>
    <a href="">重新讀取</a>
    <div>
        <input type="checkbox" name="" id="check-reload">
        開啟
        <input type="delay" id="delay-sec" type="number">
        秒數


        <form action="" method="POST">
            <select name="sort" id="sotr">
                <option value="true">升</option>
                <option value="false">降</option>
            </select>
            <button type="submit">排序</button>

        </form>
    </div>
    <table border="1">
        <thead>

            <tr>
                {% for th in data["columns"] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for tr in data["values"] %}
            <tr>
                {% for td in tr %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <script>
        const checkReload = document.querySelector("#check-reload");
        const reloadSecond = document.querySelector("#reload-sec");
        const delaySecond = 30;
        reloadSecond.value = delaySecond;

        window.onload = function () {

            console.log("reload!")
            // 讀取
            checkReload.checked = localStorage.getItem("CheckReload") ? true : false;
            reloadSecond.value = localStorage.getItem("ReloadSecond") ? localStorage.getItem("ReloadSecond")
                : delaySecond;

            Set
            if (localStorage.getItem("CheckReload")) {
                checkReload.checked = localStorage.getItem("CheckReload");
            }

            if (localStorage.getItem("ReloadSecond")) {
                reloadSecond.value = localStorage.getItem("ReloadSecond");
            }
        };


        checkReload.addEventListener("change", () => {
            console.log(checkReload, checked, reloadSecond, value);

            localStorage.setItem("CheckReload", checkReload.checked);
            localStorage.setItem("ReloadSecond", reloadSecond.value);

            if (checkReload, checked) {
                console.log("start reload!");
                let sec = Number(reloadSecond.value) * 1000;
                setInterval((() => {
                    window.location.reload();
                }), sec)
            }

        });



    </script>
</body>

</html>