<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5資訊</title>
</head>
<style>
    body {
        background-color: rgb(130, 126, 123);
        text-align: center;
        color: orange;
    }

    table {
        width: 60%;
        margin: 0 auto;
    }

    th {
        background-color: rgb(203, 255, 196);
        color: black;
    }

    td {
        background-color: brown;
        color: white;
    }

    @media screen and (max-width:1024px) {
        table {
            width: 90%;
        }
    }
</style>

<body>
    <h1>全台PM2.5資訊</h1>
    <h3 style="color: aquamarine;">現在時間:{{data["today"]}}</h3>
    <a href="/">回首頁</a>
    <a href="">重新讀取</a>
    <br>
    <form action="" method="POST">
        <select name="sort" id="sotr">
            <option value="true">升</option>
            <option value="false">降</option>
        </select>
        <button type="submit">排序</button>

    </form>
    <table border="1">
        <thead>

            <tr>
                {% for th in data["columns"] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for tr in data["values"] %}
            <tr>
                {% for td in tr %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

</body>

</html>