<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">


</head>

<body>
    <section class="hero is-danger is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">註冊頁面</p>
                <div class="columns is-centered" style="">
                    <div class="column is-4">
                        <form action="" class="box">
                            <div class="field">
                                <label class="label" for="">帳號</label>
                                <input class="input" type="text"><br>
                            </div>

                            <div class="field">
                                <label class="label">密碼</label>
                                <div class="control">
                                    <input class="input" type="password" placeholder="Text input">
                                </div>
                            </div>
                            <label class="checkbox">
                                <input type="checkbox">
                                紀錄帳號
                            </label>
                            <div class="field has-text-centered">
                                <button class="button is-info is-inverted">註冊</button>
                                <button class="button is-primary is-loading">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>